@font-face {
    font-family:"BetterTimes";
    src: url("BetterTimes.woff") format('woff');
}

@font-face {
    font-family: "Cosmos";
    src: url("Cosmos-Medium.woff") format('woff');
}

@font-face {
    font-family: "Cosmos Light";
    src: url("Cosmos-Light.woff") format('woff');
}